<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>レシピ検索</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
	    <h1>レシピ検索</h1>
            <!--
            <h3>キーワードを入力してください</h3>
	        <form method="POST" action="sample1">
	            <input type="text" name="keyword" placeholder="キーワードをここに入力する">
                <input type="submit">
	        </form>
            <hr>
            -->
            <h3>今の気分を選択してください</h3>
            <form method="POST" action="mood1">
                <div class="slider-container">
                    <div class="slider-item">
                        <span class="slider-text-left">お疲れ</span>
                        <input class="slider" type="range" name="mood" min="-5" max="5" value="0" step="0.1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">ウキウキ</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">ヘルシー</span>
                        <input class="slider" type="range" name="body" min="-5" max="5" value="0" step="0.1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">がっつり</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">あっさり</span>
                        <input class="slider" type="range" name="taste" min="-5" max="5" value="0" step="0.1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">こってり</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">お手軽</span>
                        <input class="slider" type="range" name="time" min="-5" max="5" value="0" step="0.1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">本格的</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">安く</span>
                        <input class="slider" type="range" name="money" min="-5" max="5" value="0" step="0.1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">豪華に</span>
                    </div>
                    <div class="slider-item">
                        <span class="slider-text-left">定番</span>
                        <input class="slider" type="range" name="modify" min="-5" max="5" value="0" step="0.1">
                        <span class="slider-value">0</span>
                        <span class="slider-text-right">アレンジ</span>
                    </div>
                    <script>
                        // スライダーの値を表示する関数
                        function updateSliderValue(slider) {
                          const value = slider.value;
                          const valueElement = slider.nextElementSibling;
                          valueElement.textContent = value;
                        }
                      
                        // 全てのスライダーにイベントリスナーを追加
                        const sliders = document.querySelectorAll('.slider');
                        sliders.forEach(slider => {
                          slider.addEventListener('input', () => {
                            updateSliderValue(slider);
                          });
                        });
                    </script>
                </div>
                <input type="submit">
            </form>
    </body>
</html>